Pandas is one of those packages and makes importing and analyzing data much easier. Sometimes csv file has null values, which are later displayed as NaN in Data Frame. Just like the pandas dropna() method manages and remove Null values from a data frame, fillna() manages and let the user replace NaN values with some value of their own.

https://www.w3schools.com/python/pandas/ref_df_fillna.asp

https://www.geeksforgeeks.org/python-pandas-dataframe-fillna-to-replace-null-values-in-dataframe/

In [1]:
import pandas as pd
import numpy as np

# Sample DataFrame with NaN values
data = {'A': [1, np.nan, np.nan, 4, 5], 'B': [np.nan, 2, 3, np.nan, 5]}
df = pd.DataFrame(data)
df.head()

     A    B
0  1.0  NaN
1  NaN  2.0
2  NaN  3.0
3  4.0  NaN
4  5.0  5.0

In [3]:
# Apply different fill methods
df_bfill = df.fillna(method='bfill', axis=1)  # Uses next valid value
df_ffill = df.fillna(method='ffill', axis=1)  # Uses previous valid value

print("Original DataFrame:\n", df)
print("\nBackfill:\n", df_bfill)
print("\nForward Fill:\n", df_ffill)

Original DataFrame:
      A    B
0  1.0  NaN
1  NaN  2.0
2  NaN  3.0
3  4.0  NaN
4  5.0  5.0

Backfill:
      A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  4.0  NaN
4  5.0  5.0

Forward Fill:
      A    B
0  1.0  1.0
1  NaN  2.0
2  NaN  3.0
3  4.0  4.0
4  5.0  5.0

C:\Users\Ali Haider\AppData\Local\Temp\ipykernel_9352\850805045.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill', axis=1)  # Uses next valid value
C:\Users\Ali Haider\AppData\Local\Temp\ipykernel_9352\850805045.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill', axis=1)  # Uses previous valid value

In [12]:
# Sample DataFrame with float values
df = pd.DataFrame({'A': [1.0, 2.0, np.nan, 4.0], 'B': [10.5, 20.3, 30.1, 40.2]})

#df.fillna(method='bfill', inplace = True)
df.head()

     A     B
0  1.0  10.5
1  2.0  20.3
2  NaN  30.1
3  4.0  40.2

In [9]:
# Convert to numeric with downcast
df['A'] = pd.to_numeric(df['A'], downcast='integer')  # Converts to int if possible
df['B'] = pd.to_numeric(df['B'], downcast='float')    # Converts to smaller float type

print(df.dtypes)

A       int8
B    float32
dtype: object

In [10]:
df.head()

   A          B
0  1  10.500000
1  2  20.299999
2  4  30.100000
3  4  40.200001

In [15]:
df.fillna(df.count())

     A     B
0  1.0  10.5
1  2.0  20.3
2  3.0  30.1
3  4.0  40.2